h1 {
color: #ff0000; /* assigns a color value to the h1 element */
font-size: 30px; /* assigns the type size for the heading */	
}

div {
	background-color: #7FFFD4;
	}

	p {
		color: #FOFFFF;
	}

	#div-main {
	background-color: #666;
	}
	
	#div-main p {
	color: #fff;
	}

	.div-special {
	background-color: #333;
	}

	.div-special p {
	color: #ccc;
	}

footer {
	padding: 10px 10px 5px 10px;
	position: relative;
	background-color: #333379;
	margin: 0px 20px 0px 20px;
	box-shadow: 0px 5px 10px;
	overflow: hidden
}

footer p {
	padding: 0px;
	margin: 0px;
	font-size: 0.7em;
	color: #fff
}

footer a {
	color: #448ccb
}

header {
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 10px 20px -23px 20px;
	background-color: #F0F8FF;
	box-shadow: 0px 0px 0px;
	position: relative
}
header {
  border: 2px solid powderblue;
  padding: 30px;
}
/***** NAVBAR *****/
.navbar-default {
  background-color: #863ee3;
  border-radius: 0;
  background-image: none;
}

/* Navbar title */
.navbar-default .navbar-brand {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

/* Navbar hover effects */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ebd122;
}

/* Navbar links */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  font-size: 16px;
}

/* Navbar collapsed styles */
.navbar-header .navbar-toggle {
  color: #fff;
}

.navbar-header .navbar-toggle:hover,
.navbar-header .navbar-toggle:focus {
  background-color: #ebd122;
  color: #242424;
}

/*** Portfolio pieces ***/
.portfolio-thumbnail {
  background-color: #fff;
  border-color: #863ee3;
  border-width: 2px;
  width: 95%;
}

.portfolio-thumbnail:hover {
  border-color: #ebd122;
}

.portfolio-title {
  font-weight: bold;
}

.portfolio-description {
}

.portfolio-image {
}

#about-world {
  max-height: 200px;
}

.resume h3 {
  font-weight: bold;
}

hr {
  border-color: white;
  border-width: 2px;
}

p {
  font-size: 20px;
}

a {
  color: #863ee3;
}

a:hover {
  color: #ebd122;
}

.jumbotron {
  background-image: url("../assets/contour-lines.png");
  text-align: center;
  color: #fff;
  padding: 2%;
}

.jumbotron h2 {
  font-size: 36px;
  font-weight: bold;
}

body {
  padding-top: 50px;
  font-family: 'Georgia', serif;
  background-color: #f7f1fa;
  color: #242424;
}
